/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

/* ========================== */

@font-face {
  font-family: "Onest", sans-serif;
  src: url("/fonts/Onest-Bold.woff") format("woff"),
    url("/fonts/Onest-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Onest", sans-serif;
  src: url("/fonts/Onest-Medium.woff") format("woff"),
    url("/fonts/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Onest", sans-serif;
  src: url("/fonts/Onest-Regular.woff") format("woff"),
    url("/fonts/Onest-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Onest", sans-serif;
}

/* аналогично для остальных шрифтов */

body {
  background-color: #f3f6f8 !important;
}
.gradient {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 48.99%,
    rgba(255, 255, 255, 0) 67.78%
  );
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 31px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #2d7ef7;
}

.animated-icon2 span {
  background: #fff;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
  background: #00aaff;
  padding: 10px 8px 12px 10px;
}

@media screen and (max-width: 576px) {
  .navbar-brand img {
    width: 60px;
  }
}
header {
  margin-bottom: 46px;
}

.navbar li a {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000041;
}

.navbar li {
  margin-right: 30px;
}

.header-phone {
  width: 200px;
  height: 57px;
}

.header-phone__icon {
  margin-right: 5px;
}

.header-phone__phone {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000041;
}

.header-phone__upper-section {
  margin-bottom: 11px;
}
.header-phone__button {
  width: 92px;
  height: 23px;
  border-radius: 11.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  position: relative;
}

.header-phone__button svg {
  margin-right: 4px;
}

.header-phone__button-whatsapp {
  background-color: #00c720;
}
.header-phone__button-whatsapp::before {
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("/images/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 4px;
}

.header-phone__button-telegram {
  background: #00aaff;
}
.header-phone__button-telegram::before {
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("/images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 4px;
}

.header-phone__button-course {
  background-color: #965eeb;
  width: 139px;
  height: 26px;
  margin-bottom: 4px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.section-about {
  margin-bottom: 47px;
}

.section-about h2 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #000041;
  margin: 0;
}

.section-about h1 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  color: #000041;
  margin: 0;
}

.section-about h3 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000041;
  margin-bottom: 8px;
}
.section-about p {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000041;
  margin-bottom: 45px;
}
.section-about h4 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000041;
  margin-bottom: 10px;
}

.header-phone__button-lesson {
  width: 323px;
  height: 66px;
  background: #00aaff;
  border-radius: 15px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 19px;
}

.section-about__pdf svg {
  margin-right: 12px;
}

.section-about__pdf span {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #4a4a4a;
}

.section-about img {
  position: relative;
  left: 0px;
  top: -92px;
}

@media screen and (max-width: 992px) {
  .section-about img {
    position: relative;
    left: 0px;
    top: 0px;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header-phone__button-lesson {
    margin-left: auto;
    margin-right: auto;
  }
  .section-about {
    margin-bottom: 60px;
  }
  .section-about h2 {
    font-size: 30px;
    line-height: 38px;
    margin: 0;
  }

  .section-about h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .section-about h3 {
    font-size: 13px;
    line-height: 17px;
  }

  .section-about p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .section-about h4 {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  .section-about__pdf {
    justify-content: center;
  }
  .section-about__pdf span {
    font-size: 8px;
    line-height: 10px;
  }
}
.section-sale {
  background: #04e061;
  border-radius: 30px;
  height: 200px;
  margin-bottom: 120px;
}

.section-sale__first {
  margin-top: 31px;
  /* margin-left: 82px; */
  margin-right: 54px;
  padding: 0;
}

.section-sale__today {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 5px;
}
.section-sale__sale {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  color: #000041;
}

.section-sale__sale span {
  color: #ffffff;
}

.section-sale__second {
  margin-top: 55px;
  width: 189px;
  padding: 0;
  margin-right: 81px;
}
.section-sale__price {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  color: #000041;
}

.section-sale__price-sale {
  text-align: center;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
}
.section-sale__end {
  text-align: center;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000041;
  margin-bottom: 23px;
}
.section-sale__time {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #000041;
}

.section-sale__third {
  margin-top: 45px;
  padding: 0;
}
.section-sale__counter-digit {
  width: 34px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 3px;
}
.section-sale__counter-digit-first {
  margin-right: 3px;
}

.section-sale__counter-colon {
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 992px) {
  .section-sale {
    width: 300px;
    height: 377px;
  }
  .section-sale__first {
    margin: 0;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .section-sale__today {
    font-size: 20px;
    line-height: 25px;
  }
  .section-sale__sale {
    font-size: 35px;
    line-height: 45px;
  }

  .section-sale__second {
    width: 189px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .section-sale__end {
    margin-bottom: 18px;
  }
  .section-sale__time {
    font-size: 31px;
    line-height: 40px;
  }

  .section-sale__third {
    margin: 0;
    padding: 0;
  }
  .section-sale__counter-digit {
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 3px;
  }
  .section-sale__counter-digit-first {
    margin-right: 3px;
  }

  .section-sale__counter-colon {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.section-whom {
  margin-bottom: 127px;
}

.section-whom h2 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height */

  color: #000041;
  margin-bottom: 15px;
}

.section-whom p {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000041;
  margin-bottom: 50px;
}

.section-whom h3 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  color: #000041;
  margin-bottom: 18px;
}

.section-whom__items {
  display: flex;
  margin-bottom: 30px;
}

.section-whom__item {
  display: flex;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  align-items: center;
  margin-bottom: 20px;
}

.section-whom__item-image {
  background: #ffffff;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  section {
    margin-bottom: 60px !important;
  }
  .section-whom__items {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .nout {
    display: none;
  }
}

.section-earn {
  margin-bottom: 120px;
}

.section-earn__what h2 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #000041;
  margin-bottom: 30px;
}

.section-earn-row {
  position: relative;
  margin-bottom: 50px;
}
.arrows-container {
  width: 158px;
  height: 59px;
}

.section-earn__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.section-earn__card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 170, 255, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}
.section-earn__card-title {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 14px;
}
.section-earn__card-price {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 21px;
}
.section-earn__card-experience {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 10px;
}
.section-earn__card-employment {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 18px;
}
.section-earn__respond {
  display: flex;
  align-items: flex-end;
}

.section-earn__respond-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #67b05a;
  border-radius: 5px;
  width: 320px;
  height: 52px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-right: 13px;
}
.section-earn__respond-like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 1.5px solid #67b05a;
  border-radius: 5px;
  background-color: white;
  margin-right: 61px;
}

.section-earn__respond-hh {
  display: inline-block;
  width: 84px;
  height: 84px;
}

.swiper-earn {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .section-earn__card {
    margin-right: 0;
  }
  .section-earn__text {
    font-size: 14px;
  }
  .section-earn__card-title {
    font-size: 20px;
  }
  .section-earn__card-price {
    font-size: 18px;
  }
  .swiper-earn {
    height: 100%;
  }
  .section-earn__card-experience {
    font-size: 16px;
    line-height: 19px;
  }
  .section-earn__card-employment {
    font-size: 16px;
    line-height: 19px;
  }
  .section-earn__respond-button {
    font-size: 12px;
    line-height: 18;
    width: 110px;
    height: 30px;
  }
  .section-earn__respond-like {
    margin: 0;
    width: 30px;
    height: 30px;
    margin-right: 30px;
  }
  .section-earn__respond-hh {
    width: 60px;
    height: 60px;
  }
}

.arrow-left {
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url("/images/arrowleft.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 4px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 59px;
  height: 59px;
  border-radius: 100px;
  background: #00aaff;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10);
  /* padding-right: 20px; */
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next:not(.swiper-button-disabled):after,
.swiper-button-prev:not(.swiper-button-disabled):after {
  color: white;
}

.swiper-button-disabled {
  color: #00aaff;
  background: #ffffff;
}

.section-learn {
  margin-bottom: 120px;
}
.section-learn-row {
  row-gap: 15px;
  column-gap: 15px;
}

.section-learn h2 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #000041;
  margin-bottom: 30px;
}
.section-learn__card {
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.section-learn__card {
  padding: 17px 0px 17px 23px;
}

.section-learn__card img {
  margin-right: 24px;
}
.section-learn__card-text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.section-sale-second {
  height: 336px;
  background: none;
}
.section-sale-second__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.section-sale-second .section-sale__first {
  margin-top: 45px;
}

.section-sale-second__row {
  margin-bottom: 33px;
}

.header-phone__button-sale {
  background-color: #965eeb;
  position: absolute;
  top: 200px;
  right: 5px;
}

.section-sale-second__row {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  position: relative;
}

.section-program {
  margin-bottom: 120px;
}

.section-program h2 {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #000041;
  margin-bottom: 30px;
}
.section-program-row {
  column-gap: 30px;
  row-gap: 20px;
}

.section-program__card {
  background-image: url("/images/bg-program.png");
  background-repeat: no-repeat;
  width: 390px;
  height: 394px;
  /* border: 1px solid black;
  background-color: #000000; */
  padding-top: 35px;
  padding-left: 20px;
}

.section-program__card-one {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #00aaff;
  margin-bottom: 20px;
}

.section-program__card-title {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;

  color: #000041;
}

.section-program__card ol {
  padding-left: 20px;
}

.section-program__card li {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #363636;
}
.section-program__card-header {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  /* identical to box height */
  margin-bottom: 15px;
}

.section-program__card-two {
  color: #ff4053;
}
.section-program__card-three {
  color: #04e061;
}
.section-program__card-four {
  color: #965eeb;
}
.section-program__card-five {
  color: #ff6b00;
}
.section-program__card-six {
  color: #ff4053;
}
.section-program__card-seven {
  color: #04e061;
}
.section-program__card-eight {
  color: #965eeb;
}
.section-program__card-nine {
  color: #ffb800;
}

.section-certificate {
  margin-bottom: 120px;
}

.section-certificate h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height */

  color: #000041;
  margin-bottom: 30px;
}
.section-certificate__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #000041;
  margin-bottom: 102px;
}
.section-certificate__about {
  margin-bottom: 30px;
}

.section-case {
  margin-bottom: 120px;
}
.section-case h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height */

  color: #000041;
  margin-bottom: 20px;
}

.section-case__text {
  margin-bottom: 20px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000041;
}

.section-case-row {
  margin-bottom: 20px;
}
.case-man {
  margin-bottom: 20px;
}
.case-man__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000041;
}

.swiper-case {
  width: 610px;
  height: 340px;
}

.section-reviews {
  margin-bottom: 60px;
}
.section-reviews__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height */

  color: #000041;
}

.section-earn-reviews {
  width: fit-content;
  margin-bottom: 23px;
}

.section-reviews__text-reviews {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000041;
  margin-bottom: 30px;
}

.section-reviews__card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  /* border: 1px solid black; */
  position: relative;
  height: 392px;
  /* width: 305px !important; */
  margin-right: 20px;
}

.section-reviews-row {
  column-gap: 20px;
  /* margin: 0; */
}

.section-reviews__card-image {
  width: 122px;
  height: 122px;
  margin-bottom: 6px;
  position: absolute;
  top: -60px;
}

.section-reviews__card-button {
  width: 245px;
  height: 46px;
}

.section-reviews__card-name {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;

  color: #000041;
  margin-bottom: 5px;
}

.section-reviews__card-stars {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 24px;
  margin-bottom: 9px;
}

.section-reviews__card-text {
  width: 235px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  color: #363636;
  margin-bottom: 17px;
}

/* .swiper-reviews {
  width: 1200px;
} */

.section-video_reviews {
  margin-bottom: 120px;
}

.section-video_reviews__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  /* identical to box height */

  color: #000041;
}

.section-video_reviews-row {
  margin-bottom: 40px;
}
.swiper-video_reviews .swiper-wrapper {
  margin-bottom: 40px;
}

.section-answers {
  margin-bottom: 120px;
}

.section-answers__header {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height */

  color: #000041;
  margin-bottom: 30px;
}

.accordion-item {
  /* border-radius: 15px !important; */
  background: none;
  margin-bottom: 15px;
}

.accordion-button:not(.collapsed) {
  background: #00aaff;
  color: #ffffff;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #000041;
}

.accordion-body {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}

.accordion-item {
  border: 0;
}
.accordion-button {
  border-radius: 15px;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 15px;
}
.accordion-button::after {
  background-image: url(/images/arrowdown.svg);
  background-color: #f1f5f8;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-position: center;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/images/arrowdown.svg);
  /* background: #f1f5f8;
  border-radius: 100px; */
}

.section-connection {
  margin-bottom: 30px;
}

.section-connection__header {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  /* identical to box height */

  color: #000041;
  margin-bottom: 15px;
}
.section-connection__text {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000041;
  margin-bottom: 58px;
}

form {
  display: flex;
  flex-direction: column;
  width: 488px;
}
.section-connection form input {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;

  height: 64px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding-left: 20px;
}

.section-connection-button {
  width: 100%;
  height: 81px;
  margin-bottom: 20px;
}

.form-check-input {
  width: 20px !important;
  height: 20px !important;
  background: #ffffff;
  border: 1px solid #00aaff;
  border-radius: 4px;
  margin-right: 5px;
}

.form-check-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;

  color: #000041;
}

.form-check-input:checked {
  background-color: #fff;
}
.form-check-input[type="checkbox"] {
  border: 1px solid #00aaff;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url(/images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form-check-input:focus {
  border-color: #00aaff;
  box-shadow: none;
}

.form-check-input:active {
  filter: brightness(100%);
}
footer {
  background: #edf0f1;
}
.section-footer {
  padding-top: 30px;
}
.footer-logo {
  margin-bottom: 30px;
  /* width: 106px; */
  height: 124px;
}

.footer-link {
  margin-right: 30px;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6c6c6c;
}
.nav-footer {
  margin-bottom: 25px;
}
.nav-footer-icons {
  margin-bottom: 30px;
}
.politics-footer {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #6c6c6c;
  margin-bottom: 10px;
}
.footer-link_icon {
  display: flex;
  align-items: center;
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin-right: 15px;
  color: #6c6c6c;
}

.footer-link_icon-yandex::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 12px;
  background-image: url("/images/mail.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 5px;
}

.footer-link_icon-phone::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-image: url("/images/phonefooter.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 5px;
}
.footer-link_icon-whatsapp::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-image: url("/images/whatsappfooter.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 5px;
}
.footer-link_icon-telegram::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 12px;
  background-image: url("/images/telegramfooter.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 5px;
}

.footer-line {
  margin-bottom: 15px;
}

.policy {
  font-family: "Onest", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #6c6c6c;
}
.globe-icon {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #6c6c6c;
  margin-right: 10px;
}

.globe-icon::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 12px;
  background-image: url("/images/globe.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 3px;
}

.phone-icon {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #6c6c6c;
  margin-right: 10px;
}

.phone-icon::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("/images/phoneicon.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 3px;
}
.telegram-icon::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 10px;
  background-image: url("/images/telegramicon.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 6px;
}
.whatsapp-icon::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("/images/whatsappicon.svg");
  background-repeat: no-repeat;
  background-position: center center; /* Центрируйте изображение */
  margin-right: 6px;
}
.footer-tech {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 10px */

  letter-spacing: 0.04em;

  color: #6c6c6c;
}
/* .footer_icons {
  margin-right: ;
} */

.footer-vr {
  margin-right: 7px;
}

.policy-block {
  padding-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .section-reviews__card {
    /* width: 320px !important; */
  }
  .section-sale-second {
    display: none;
  }
  .certificate-img {
    display: none;
  }
  .case-man {
    display: none;
  }
  .swiper-case .swiper-wrapper {
    margin-bottom: 0;
  }
  .swiper-case {
    height: auto;
  }
  .swiper-video_reviews {
    width: 300px;
  }
  form {
    justify-content: center;
    align-items: center;
    width: 300px !important;
  }
  form input {
    width: 100%;
  }
  .image-connect {
    display: none;
  }
  .form-check-label {
    font-size: 10px;
  }

  .nav-footer-icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .globe-icon {
    font-size: 8px;
  }
  .phone-icon {
    font-size: 8px;
  }
  .footer_icons-list {
    display: none !important;
  }
  .about-image {
    margin-bottom: 16px;
  }
  .section-whom__item {
    margin-bottom: 5px;
  }
  .section-learn__card {
    padding: 17px 14px 17px 23px;
  }
  .section-learn-row {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 27px;
}

@media screen and (min-width: 992px) {
  .section-learn .col-lg-4 {
    flex: 0 0 auto;
    width: 31.633333%;
  }
}

@media screen and (min-width: 768px) {
  .section-learn .col-lg-4 {
    flex: 0 0 auto;
    width: 47%;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    padding: 0;
  }
  header {
    margin-bottom: 30px;
  }
  .navigation {
    top: 0;
    position: static;
    z-index: 10;
  }
  .header-phone {
    margin-bottom: 20px;
  }
  .navbar-toggler {
    border: 1px solid white !important;
  }
}

@media screen and (max-width: 592px) {
  .about-image {
    display: flex;
    width: 300px;
    height: 291px;
    margin-left: auto;
    margin-right: auto;
  }
}
