@font-face {
  font-family: "Circe Rounded";
  src: url("/fonts/CirceRounded-ExtraLight.eot");
  src: local("Circe Rounded Extra Light"), local("CirceRounded-ExtraLight"),
    url("/fonts/CirceRounded-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-ExtraLight.woff2") format("woff2"),
    url("/fonts/CirceRounded-ExtraLight.woff") format("woff"),
    url("/fonts/CirceRounded-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("/fonts/CirceRounded-Regular2.eot");
  src: local("Circe Rounded  Regular 2"), local("CirceRounded-Regular2"),
    url("/fonts/CirceRounded-Regular2.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-Regular2.woff2") format("woff2"),
    url("/fonts/CirceRounded-Regular2.woff") format("woff"),
    url("/fonts/CirceRounded-Regular2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded Alt";
  src: url("/fonts/CirceRoundedAlt-Regular2.eot");
  src: local("Circe Rounded Alt  Regular 2"), local("CirceRoundedAlt-Regular2"),
    url("/fonts/CirceRoundedAlt-Regular2.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/CirceRoundedAlt-Regular2.woff2") format("woff2"),
    url("/fonts/CirceRoundedAlt-Regular2.woff") format("woff"),
    url("/fonts/CirceRoundedAlt-Regular2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("/fonts/CirceRounded-Regular3.eot");
  src: local("Circe Rounded  Regular 3"), local("CirceRounded-Regular3"),
    url("/fonts/CirceRounded-Regular3.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-Regular3.woff2") format("woff2"),
    url("/fonts/CirceRounded-Regular3.woff") format("woff"),
    url("/fonts/CirceRounded-Regular3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("/fonts/CirceRounded-Regular5.eot");
  src: local("Circe Rounded  Regular 5"), local("CirceRounded-Regular5"),
    url("/fonts/CirceRounded-Regular5.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-Regular5.woff2") format("woff2"),
    url("/fonts/CirceRounded-Regular5.woff") format("woff"),
    url("/fonts/CirceRounded-Regular5.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("/fonts/CirceRounded-Regular.eot");
  src: local("Circe Rounded"), local("CirceRounded-Regular"),
    url("/fonts/CirceRounded-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-Regular.woff2") format("woff2"),
    url("/fonts/CirceRounded-Regular.woff") format("woff"),
    url("/fonts/CirceRounded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded Alt";
  src: url("/fonts/CirceRounded-AltBold.eot");
  src: local("Circe Rounded Alt Bold"), local("CirceRounded-AltBold"),
    url("/fonts/CirceRounded-AltBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-AltBold.woff2") format("woff2"),
    url("/fonts/CirceRounded-AltBold.woff") format("woff"),
    url("/fonts/CirceRounded-AltBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("/fonts/CirceRounded-Regular4.eot");
  src: local("Circe Rounded  Regular 4"), local("CirceRounded-Regular4"),
    url("/fonts/CirceRounded-Regular4.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CirceRounded-Regular4.woff2") format("woff2"),
    url("/fonts/CirceRounded-Regular4.woff") format("woff"),
    url("/fonts/CirceRounded-Regular4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #2d7ef7;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

* {
  font-family: "Circe Rounded";
  color: black;
}

header {
  background-image: url("/images/mun-palas-5120x2880-.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  /* min-height: 628px;
  height: 100%; */
  height: 777px;
}

header:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.navbar {
  height: 70px !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.7px;
}
.icon_logo {
  max-width: 100%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-item {
  padding: 0 20px;
}

.header-title {
  font-size: 72px;
  font-weight: 300;
  line-height: 84.24px;
  letter-spacing: 1px;
  margin: 0;
  padding: 24px 0px;
}

.header-section {
  position: relative;
  padding-top: 185px;
  padding-bottom: 42px;
}
.header-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 37.2px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.header-btn {
  margin-top: 45px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
  background-color: #54855e;
  padding: 0 60px;
}

.about-section {
  padding: 90px 0;
  background-color: #f5f5f5;
}

.about-section__title {
  font-size: 52px;
  font-weight: 300;
  line-height: 63.96px;
  margin-bottom: 40px;
}
.about-section__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 37.2px;
  width: 960px;
}

.advantage-section {
  padding: 90px 0;
}
.advantage-section__title {
  font-size: 42px;
  font-weight: 300;
  line-height: 51.66px;
  margin-bottom: 40px;
}
.advantage-section__description {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.advantage-section__point {
  margin-top: 55px;
}
.advantage-section__points-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  padding-left: 20px;
}

.requirements-section__title {
  padding-top: 150px;
  font-size: 42px;
  font-weight: 300;
  line-height: 51.66px;
  margin-bottom: 20px;
}
.requirements-section__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 60px;
}

.requirements-section__left-side {
  background-color: #f5f5f5;
}
.requirements-section__points {
  /* width: 460px; */
}

.requirements-section__point {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  padding-left: 20px;
  margin-bottom: 23px;
}

.responsibilities-section {
  padding: 60px 0;
}

.responsibilities-section__title {
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 300;
  line-height: 51.66px;
}
.responsibilities-section__description {
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.responsibilities-section__point {
  min-height: 182px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;
  padding: 30px 30px 40px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  border-radius: 5px;
}

.work-section {
  padding-top: 90px;
}

.work-section__title {
  padding-bottom: 15px;
  font-size: 42px;
  font-weight: 300;
  line-height: 51.66px;
}

.work-section__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 8px;
  padding-bottom: 6px;
  margin-bottom: 45px;
}

form {
  margin-bottom: 105px;
}

form label {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  padding-bottom: 5px;
}

form input {
  padding: 0 20px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 25px;
}

.submit-button {
  border: 0px;
}

.parallax-container {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.parallax {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.add-button {
  width: 125px;
  border-radius: 30px;
  height: 33px;
  border: 0px;
  background-color: #54855e;
  padding: 0 16px;
}

nav {
  transition: background 0.75s ease;
}

@media screen and (max-width: 992px) {
  nav {
    background: #242d3d;
  }
}

@media screen and (max-width: 992px) {
  .navbar .container {
  }
}

.second-button {
  padding-bottom: 8px;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    background: #242d3d;
    width: 100vw !important;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 30px !important;
  }
  .header-section {
    padding-top: 52px;
  }
}
.navbar-brand {
  padding: 0;
}

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
    padding-top: 94px;
  }
  .header-description {
    font-size: 24px;
  }
  .header-btn {
    padding: 0 30px;
  }
  .requirements-section__point {
    font-size: 16px;
    line-height: 21px;
  }
  .responsibilities-section__points {
    margin: auto;
  }
  .icon_logo {
    display: none;
  }
  section {
    overflow-x: hidden;
  }
}

.navbar-toggler {
  box-shadow: none !important;
}

.advantage-section__point svg {
  flex-shrink: 0;
}
